<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
		<connectionStrings>
    <add name="Sistema_GestaoFazenda" connectionString="Data Source=DESKTOP-QR3NRU5;Initial Catalog=Fazenda;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
		

</configuration>